@tailwind base;
@tailwind components;
@tailwind utilities;

.w-50 {
    width: 12.5rem;
}

.w-70 {
    width: 17.5rem;
}

.h-30 {
    width: 7.5rem;
}

@media (min-width: 320px) {
    .sm\:w-full {
        width: 100%;
    }

    .sm\:px-6 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}