@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w-4xl          {max-width: 56rem; /* 896px */}
.max-w-5xl	        {max-width: 64rem; /* 1024px */}
.max-w-screen-md	{max-width: 768px;}
.max-w-screen-lg	{max-width: 1024px;}
.max-w-screen-xl	{max-width: 1280px;}
.max-w-screen-2xl	{max-width: 1536px;}

.grow{
    flex-grow: 1;

}

.w-50 {
    width: 12.5rem;
}

.w-70 {
    width: 17.5rem;
}

.h-30 {
    width: 7.5rem;
}

.bg-error {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('./img/robot-error.png');
    background-size: auto 100% ;
    background-position: 98% 50%;
    background-repeat: no-repeat;
    
}

@media (min-width: 320px) {
    .sm\:w-full {
        width: 100%;
    }

    .sm\:px-6 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}